<div *ngIf="show">
    <div class="box card">
    <form [formGroup]="productAddForm" (ngSubmit)="addProd()" #addProductForm="ngForm">
    <div class="tit">Enter Product Details</div>
    <div class="form-group mat-form-field">
        <label for="name" style="margin-bottom: -5%;">Enter Name:</label>
        <input type= "text" class="form-control" formControlName="name" required="required"/>
        <span class="text-danger" *ngIf="productAddForm.get('name').invalid && productAddForm.get('name').touched" >
            Product name is mandatory.
        </span>
    </div>
    <div class="form-group mat-form-field">
        <label for="pid" style="margin-bottom: -5%;">Enter Product ID:</label>
        <input type= "number" class="form-control" formControlName="pid" required="required"/>
        <span class="text-danger" *ngIf="productAddForm.get('pid').invalid && productAddForm.get('pid').touched" >
            Product ID is mandatory and must begin with '10'
        </span>
    </div>
    <div class="form-group mat-form-field">
        <label for="price" style="margin-bottom: -5%;">Enter Price:</label>
        <input type= "number" class="form-control" formControlName="price" required="required"/>
        <span class="text-danger" *ngIf="productAddForm.get('price').invalid && productAddForm.get('price').touched" >
            Product price is mandatory and must be greater than 0.
        </span>
    </div>
    <div class="form-group mat-form-field">
        <label for="quantity" style="margin-bottom: -5%;">Enter Quantity</label>
        <input type= "number" class="form-control" formControlName="quantity" required="required"/>
        <span class="text-danger" *ngIf="productAddForm.get('quantity').invalid && productAddForm.get('quantity').touched" >
            Product quantity is mandatory and must be greater than 0.
        </span>
    </div>
    <!-- <div class="form-group mat-form-field">
        <label for="img" style="margin-bottom: -5%;">Select file to upload Image</label>
        <input type= "file" class="form-control" formControlName="img" (change)="showPreview($event)"/>
    </div> -->
    <!-- <button type="submit" class="btn btn primary">Submit</button>
    <button type="reset" class="btn btn primary">Reset</button> -->
    <button type="submit" class="col-md-3 offset-sm-3 btn btn-success form-button">          
        Add Product</button> &nbsp; &nbsp;
    <button type="reset" class="col-md-3 btn btn-success form-button">Reset</button>
    </form>
    </div><br><br><br>
</div>
<div *ngIf="!show">
<div *ngIf="success && !fail" class="text text-success h4" style="text-align: center; margin-top: 5%;">
    Product added successfully!
</div>
<div *ngIf="success && !fail" class="text h4" style="text-align: center;"><a (click)="changeS()"><b><u>Go Back</u></b></a></div>

<div *ngIf="fail && !success" class="text text-danger h4" style="text-align: center; margin-top: 5%;">
    Product couldn't be updated. Try again.
</div>
<div *ngIf="fail && !success" class="text h4" style="text-align: center;"><a (click)="changeF()"><b><u>Go Back</u></b></a></div>
</div>
