.leftside {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    padding:0px 0px 0px 0px;
    /* opacity:0.5; */
 }

 .rightside{
    height: 100%;
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
 }


  .back-image-1 {
    width: 60%;
    height: 100%;
    position: relative;
    object-fit: cover;
    -o-object-fit: cover;
    opacity:0.9;
    /* top: 12%; */
    /* background: black; */
  }

  .mat-form-field{
    width:70%;
    margin-top: 8%;
    margin-left: 15%;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px 20px 20px 20px  ;
    margin-bottom: 2%;

}

.welcome{
  width: 350px;
    height: 50px;
    font-family: 'Gill Sans", sans-serif';
    font-size: 45px;
    /* font-weight: bold; */
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color:white;
    position: absolute;
    /* right: 70%; */
    top: 5%;
    left: 10%;
}


.box{
  /* height: 100%; */
  /* width: 500px; */
  height: 100%;
  width: 100%;
  background-color:rgb(87, 88, 88);
  border: 3px solid rgb(87, 88, 88);
  top: 0%;
  position: relative;
}

.login{
  margin-top: 8%;
  font-family: 'Arial';
  text-align: center;
  /* width: 430px;
  height: 50px; */
  color: rgb(229, 250, 249);
  font-size:27px;
  /* line-height: 2.5; */
  /* font-weight: bold; */
}

.submit{
    width: 100%;
    height: 50px;
    border-radius: 19px ;
    border: 3px solid rgb(85, 183, 207);
    background-color: rgb(85, 183, 207);
    font-family: 'Arial';
    color: rgb(229, 250, 249);
    margin-top: 7%;
    margin-left: -1%;
    font-size: 19px;
    /* font-weight: bold; */
    margin-bottom: 2%;
}

.bottom-line{
  margin-top: 5%;
  text-align: center; 
  color: white;
  font-size: 17px;
  /* font-weight: bold; */
  font-family: 'Arial';
}

.sign{
  background-color: rgb(85, 183, 207);
  border: 3px solid rgb(85, 183, 207);
  color: white;
  font-size: 17px;
  /* font-weight: bold; */
  font-family: 'Arial';
  border-radius: 25px;
}

.img{
  height: 100%;
  top: 50%;
  left: 22%;
  right: 20%;
  /* border-radius: 25px; */
  /* position: relative; */
  object-fit: contain;
}

.fire{
  margin-top: 5%;
  margin-left: 25%;

}

.email{
    content: "\2709";
}

.label{
  font-size: large;
}
