<div class="container-fluid">
    <div class="row">
            <div class="leftside">
                <!-- <div class="back-image" style="background-image: url('assets/images/ywb1.jpg');"></div> -->
                <div class="back-image-1" style="background-image: url('assets/images/vec.png');"></div>
                <!-- <div class="back-image" style="background-color: rgb(7, 133, 206);"></div> -->
                <!-- <div><img [src]= "vectorimg"></div> -->
                <div class="welcome"><span style="font-size: 40px;">Hello User. </span><b>Welcome Back!</b></div>
                <div class="rightside">
                <div class="box">

                <div *ngIf="signin">
                    <div class="fire"><img [src] = "'assets/images/logo-black.jpg'"></div>
                    <div class="login">User Login</div> 
                    <div class="form-group mat-form-field">
                        <label for="email" style="margin-bottom: -10%;">Email ID</label>
                        <input type="email" class="form-control" [(ngModel)]="loginUser.email" placeholder="Enter Email ID" [formControl]="emailForm1">
                        <div class="text-danger" *ngIf="emailForm1.invalid && emailForm1.touched">Email is required</div>
                    <!-- </div>
                    <div class="form-group mat-form-field-2"> -->
                        <!-- <span class="mat-form-field-2"></span> -->
                        <label for="password" style="margin-top: 10%; margin-bottom: -10%;">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="loginUser.password" placeholder="Enter Password">
                    <button type="submit" class="submit" (click)="login()">Login</button>
                    <h4 *ngIf="tryToLogin1" class="text-center"> Logging in...Please Wait!!</h4>
                    </div>
                    <div class="bottom-line">New User? <button class="sign" (click)="signin=false">Sign up</button></div>
                </div>

                <div *ngIf="!signin">
                    <div class="fire"><img [src] = "'assets/images/logo-black.jpg'"></div>
                    <div class="login">Register User</div> 
                    <div class="form-group mat-form-field">
                        <label for="email" style="margin-bottom: -10%;">Email ID</label>
                        <input type="email" class="form-control" [(ngModel)]="regiUser.email" placeholder="Enter Email ID" [formControl]="emailForm2">
                        <div class="text-danger" *ngIf="emailForm2.invalid && emailForm2.touched">Email is required</div>
                    <!-- </div>
                    <div class="form-group mat-form-field-2"> -->
                        <!-- <span class="mat-form-field-2"></span> -->
                        <label for="password" style="margin-top: 10%; margin-bottom: -10%;">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="regiUser.password" placeholder="Enter Password">
                    <button type="submit" class="submit" (click)="register()">Register</button>
                    <h5 *ngIf="tryToLogin2" class="text-center"> Logging in...Please Wait!!</h5>
                    </div>
                    <div class="bottom-line">Already a User? <button class="sign" (click)="signin=true">Sign in</button></div>
                </div>
            </div>
            </div> 
        </div>
    </div>
</div>
