<div *ngIf="products.length!=0">
<div *ngIf="delete">
<div class="h3" style="text-align: center; margin-top: 3%; margin-bottom: 2%;">Select a Product to Delete</div>
<div class="row row-cols-1 row-cols-md-2" style="margin-left: 7%; margin-bottom: 5%;">
    <div *ngFor="let prod of products">
    <div class="col mb-3">
      <div class="card hoverable" style="width: 22rem;">

        <div class="card-header text-white bg-info">
          <div class="text-truncate" style="text-align: center; font-weight: bold;">
            {{prod.pid+" - "+prod.name}}</div>
        </div>

        <div class="card-body">
          <div class="image-box">
            <img [src]="'assets/resources/'+ prod.pid+'.jpg'" class="img-responsive center-block"
            alt="Image Not Found" onError="this.src='assets/resources/404.png'">
          </div>
        </div>

        <div class="card-footer" style="text-align: left; font-weight: bold;">
            <div class="row">
                <div class="col">
                    <div>Price: {{prod.price}}</div>
                    <div>Quantity: {{prod.quantity}} </div> 
                </div>
                <div class="col">
                    <div style="text-align: right;"> 
                        <button type="button" class="btn btn-primary" (click)="confirmDel(prod)">Delete</button>
                        

                    </div>
                </div>
            </div>
      </div>
      
      </div>

   </div>
</div>
</div>
</div>
</div>

<div *ngIf="!delete">
<div *ngIf="success && !fail" class="text text-success h4" style="text-align: center; margin-top: 5%;">
    Product successfully deleted!
</div>
<div *ngIf="success && !fail" class="text h4" style="text-align: center;"><a (click)="changeS()"><b><u>Go Back</u></b></a></div>
<div *ngIf="fail && !success" class="text text-danger h4" style="text-align: center; margin-top: 5%;">
  Product couldn't be deleted. Try again.
</div>
<div *ngIf="fail && !success" class="text h4" style="text-align: center;"><a (click)="changeF()"><b><u>Go Back</u></b></a></div>
</div>


<div *ngIf="products.length==0">
  <div class="h3" style="text-align: center; margin-top: 3%; margin-bottom: 2%;">You Product Store is empty!</div>
</div>
