<div *ngIf="products.length!=0">
<div *ngIf="!update && !success && !fail">
    <div class="h3" style="text-align: center; margin-top: 3%; margin-bottom: 2%;">Select a Product to Edit</div>
<div class="row row-cols-1 row-cols-md-2" style="margin-left: 7%; margin-bottom: 5%;">
    <div *ngFor="let prod of products">
    <div class="col mb-3">
    <a [routerLink]="" class="nav-link" (click)="setProduct(prod)">
      <div class="card hoverable" style="width: 22rem;">

        <div class="card-header text-white bg-info">
          <div class="text-truncate" style="text-align: center; font-weight: bold;">
            {{prod.pid+" - "+prod.name}}</div>
        </div>

        <div class="card-body">
          <div class="image-box">
            <img [src]="'assets/resources/'+ prod.pid+'.jpg'" class="img-responsive center-block"
            alt="Image Not Found" onError="this.src='assets/resources/404.png'">
          </div>
        </div>

        <div class="card-footer" style="text-align: center; font-weight: bold;">
          <div>Price: {{prod.price}}</div>
          <div>Quantity: {{prod.quantity}} </div> 
      </div>  
      </div>
    </a>
   </div>
</div>
</div>
</div>
<div *ngIf="update && !success && !fail">
    <div class="box card">
        <div class="tit">Edit Product Details</div>
        <div class="form-group mat-form-field">
            <label for="pid" style="margin-bottom: -5%;">Enter Product ID:</label>
            <input type="number" class="form-control" [(ngModel)]="upProduct.pid" name="pid"/>
        </div>
        <div class="form-group mat-form-field">
            <label for="name" style="margin-bottom: -5%;">Enter Name:</label>
            <input type="text" class="form-control" [(ngModel)]="upProduct.name" name="prodname"/>
        </div>
        <div class="form-group mat-form-field">
            <label for="price" style="margin-bottom: -5%;">Enter Price:</label>
            <input type= "number" class="form-control" [(ngModel)]="upProduct.price" name="price"/>
            <!-- <span class="text-danger" *ngIf="productupForm.get('price').invalid && productupForm.get('price').touched" >
                Product price must be greater than 0.
            </span> -->
        </div>
        <div class="form-group mat-form-field">
            <label for="quantity" style="margin-bottom: -5%;">Enter Quantity:</label>
            <input type= "number" class="form-control" [(ngModel)]="upProduct.quantity" name="quantity"/>
            <!-- <span class="text-danger" *ngIf="productupForm.get('quantity').invalid && productupForm.get('quantity').touched" >
                Product quantity must be greater than 0.
            </span> -->
        </div>
        <div>
        <button type="submit" class="col-md-3 offset-sm-3 btn btn-success" (click)="updateProd()">          
            Update</button><button type="button" class="col-md-3 offset-sm-1 btn btn-success" (click)="update=false">Cancel</button>
        <br><br></div>
        </div>
    </div>
<div *ngIf="success && !update && !fail" class="text text-success h4" style="text-align: center; margin-top: 5%;">
    Product successfully updated!
</div>
<div *ngIf="success && !update && !fail" class="text h4" style="text-align: center;"><a (click)="success=false"><b><u>Go Back</u></b></a></div>
<div *ngIf="fail && !update && !success" class="text text-danger h4" style="text-align: center; margin-top: 5%;">
    Product couldn't be updated. Try again.
</div>
<div *ngIf="fail && !update && !success" class="text h4" style="text-align: center;"><a (click)="fail=false"><b><u>Go Back</u></b></a></div>
</div>

<div *ngIf="products.length==0">
  <div class="h3" style="text-align: center; margin-top: 3%; margin-bottom: 2%;">You Product Store is empty!</div>
</div>
