.box{
    width: 60%;
    align-content: center;
    background-color:rgb(211, 218, 218);
    /* border: 2px solid rgb(87, 88, 88); */
    margin-top: 2%;
    margin-left: 20%;
    position: relative;
    border-radius: 25px;
    overflow: auto;
  }

  .mat-form-field{
    width:70%;
    /* margin-top: 2%; */
    margin-left: 15%;
    border-radius: 10px;
    padding: 10px 10px 10px 10px  ;

}
 .mat-form-field:hover{
    background-color: rgb(199, 204, 204);
}


.tit{
    text-align: center;
    font-family: 'Arial';
    font-size: 25px;
    margin-top: 5%;
    font-weight: bold;
    margin-bottom: 5%;
}

