<div *ngIf="products.length!=0">
<div class="h3" style="text-align: center; margin-top: 3%; margin-bottom: 2%;">Your Products</div>
  <div class="row row-cols-1 row-cols-md-2" style="margin-left: 7%; margin-bottom: 5%;">
    <div *ngFor="let prod of products">
      <div class="col mb-3">
      <div class="card hoverable" style="width: 22rem;">

        <div class="card-header text-white bg-info">
          <div class="text-truncate" style="text-align: center; font-weight: bold;">{{prod.pid+" - "+prod.name}}</div>
        </div>

        <div class="card-body">
          <div class="image-box">
            <img [src]="'assets/resources/'+ prod.pid+'.jpg'" class="img-responsive center-block"
            alt="Image Not Found" onError="this.src='assets/resources/404.png'">
          </div>
        </div>

        <div class="card-footer" style="text-align: center; font-weight: bold;">
          <div>Price: {{prod.price}}</div>
          <div>Quantity: {{prod.quantity}} </div> 
      </div>
   </div>
  </div>
</div>
</div>
</div>

<div *ngIf="products.length==0">
  <div class="h3" style="text-align: center; margin-top: 3%; margin-bottom: 2%;">You Product Store is empty!</div>
</div>

