 .side {
    width: 25%;
    height: 100%;
    left: 0;
    position: fixed;
    background-color: rgb(28, 161, 202);

  }

  .main{
    width: 75%;
    height: 100%;
    right: 0;
    position: fixed;
    overflow: auto; 
  }

  .snav {
    display: none;
    height: 90%;
    width: 300px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgb(28, 161, 202);
    overflow-x: hidden;
    padding-top: 60px;
    display: block;
  }


  
  .snav a {
    padding: 15px 10px 12px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    opacity: 1.5;
  }
  
  .snav a:hover {
    color: rgb(77, 74, 74);
  }

  .rect {
    width: 100%;
    height: 9%;
    background: rgb(28, 161, 202);
  }

  .rect:hover {
    background: rgb(202, 211, 214);
  }
  
  @media screen and (max-height: 450px) {
    .snav {padding-top: 15px;}
    .snav a {font-size: 18px;}
  }