<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
      <a routerLink="view" routerLinkActive="active"><img [src]="'assets/images/logo-black-sm-1.jpg'" style="margin-bottom: 20%;"></a>
      <a (click)="logout()" style="font-size: 17px; margin-top: -2%;">Sign Out</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    
    <div id="mySidenav" class="snav">
      <a class="rect" routerLink="view" routerLinkActive="active">View Products</a>
      <a class="rect" routerLink="create" routerLinkActive="active">Create new Product</a>
      <a class="rect" routerLink="edit" routerLinkActive="active">Edit Products</a>
      <a class="rect" routerLink="del" routerLinkActive="active">Delete Products</a>
      <!-- <a class="rect" (click)="callFunc()">Click me</a>
      <a class="rect" (click)="callFunc1()">Sample</a> -->
    </div>
    
    <div class="main">
    <router-outlet></router-outlet>
    </div>
  
    
  </div> 
</div>


